/* Google font imports */
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Variables */
:root {
    --body-bg: #B0D1DE;
    /* Light blue */
    --light-bg: #CCDCFF;
    /* Periwinkle */
    /* Light blue */
    --dark-bg: #1D3752;
    /* Dark blue */
    /* Dark blue */
    --font-serif: 'Merriweather', serif;
    --font-sans: 'Roboto', sans-serif;
    --light-text: #ffffff;
    /* White */
    /* White */
    --dark-text: #000000;
    /* Black */
    /* Dark grey */
}

/* General */
body {
    background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
}

p {
    font-family: var(--font-sans);
}

.section-light {
    background-color: var(--light-bg);
    color: var(--dark-text);
}

.section-dark {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

/* General Card Styles */
.card-body>p {
    min-height: 220px;
}

.card-title {
    min-height: 50px;
}

/* Hero Section */
.hero {
    background: url('../images/hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--dark-bg);
    padding: 1rem 0;
}

#cover-text {
    /* Light blue with transparency */
    background-color: rgb(211, 230, 236, 0.9);
    color: var(--dark-text);
    font-size: 130%;
    width: 20%;
    min-width: 330px;
    padding: 5px;
    border-radius: 10%;
    padding-top: 20px;
}

/* Inspiration carousel text */
#cover-text .small {
    font-size: 70%;
}

/* Main Section */

.introduction {
    padding: 1rem 0;
}

/* Popular Articles Section Carousel */

.popular-container {
    border: solid;
}

.carousel-item h5 {
    font-size: 1.5rem;
    color: var(--light-text);
    text-decoration: underline;
}

/* Article Section */

#articles img {
    max-height: 400px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}