/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap'); /* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Roboto */

/* General */
body {
    background-color: #9ec1cf; /* Light blue */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}


/* General Card Styles */
.card-body > p {
    min-height: 220px;
}

.card-title {
    min-height: 50px;
}

/* Hero Section */
.hero {
    background: url('../images/hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #305377; /* Dark blue */
    padding: 1rem 0;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(211, 230, 236, 0.9); /* Light blue */
    color: black; /* Black text */
    font-size: 120%;
    width: 20%;
    min-width: 330px;
    padding: 10px;
    border-radius: 10%;
    padding-top: 20px;
}

/* Inspiration carousel text */
#cover-text .small {
    font-size: 70%;
}

/* Main Section */

.introduction {
    background-color: #305377; /* Dark blue */
    color: white; /* White text */
    padding: 1rem 0;
}

/* Common Issues Section */



/* Managing Stress Section */

#managing-stress {
    background-color: #d3e6ec; /* Light blue */
}